{% extends "base/navbar.html" %}

{% block content %}
{% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible alert-warning">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <h4 class="alert-heading">{{ message.tag }}</h4>
              <p class="mb-0">{{ message.tag }}{{ message }}</p>
      </div>
  {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    <p>안녕하세요 {{ user }}님!</p>
  {% else %}
    <p>로그아웃된 상태입니다.</p>
  {% endif %}

  <script>
    window.setTimeout(function() {
      $(".alert-dismissible").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove();
      });
  }, 2000);
  </script>
{% endblock content %}

