{% extends "base/base.html" %}

{% load static %}

{% block header %}
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="{% url 'main' %}">
      <img class="logo" src="{% static 'Login/assets/Logo.png' %}" alt="Logo" style="max-height:40px; border-radius: 40%;">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <li><a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a></li>
          </li>
          {% else %}
          <li class="nav-item">
            <li><a class="nav-link" href="{% url 'account_login' %}">로그인</a></li>
          </li>
          <li class="nav-item">
            <li><a class="nav-link" href="{% url 'account_signup' %}">회원가입</a></li>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>


{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div></div>
    <div>SketchDay  &c AIVLE</div>
  </div>
</footer>
{% endblock footer %}