
{% extends "base/navbar.html" %}

{% load static %}


{% block title %}{{ diary.title }} | SketchDay{% endblock title %}

{% block content %}
<div class="post-detail">
    <div class="header">
      <a href="{% url 'main' %}">&lt; 목록으로</a>
      {% if diary.author == user%}
      <div class="buttons">
        <a class="btn btn-primary btn-sm" href="{% url 'diary-delete' diary.id%}">삭제</a>
        <a class="btn btn-primary btn-sm" href="{% url 'diary-update' diary.id%}">수정</a>
      </div>
      {% endif %}
    </div>
    <article>
      {% comment %} <img class="image" src="{{ diary.image1.url }}"> {% endcomment %}
      <div class="post-meta">
          <div class="item-info">  
            <div  class="title">{{ diary.title }} </div>
            <span class="date">{{ diary.dt_created|date:"Y.m.d" }}</span>
            
      </div>
        
      <a class="profile-link" href="{% url 'profile' diary.author.id %}">
      <div class="podo-box gray-background profile">
      <div class="profile-pic" style="background-image: url('{{ diary.author.profile_pic.url }}')"></div>
      <div class="profile-info">
      <div class="nickname">{{ diary.author.nickname }}</div>
     </div>
    </div>
  </a>
    <p class="item-detail">
      {{ diary.content |linebreaksbr }}
    </p>  
    <p>{{ diary.emotion_val }}</p>
    </article>
    <h2>감정 상태</h2>
    <div style="display: flex; justify-content: center">
      <div class="chart-container" style="height: 500px; width:500px">
        <p style="text-align: center; font-size: 1.5rem">오늘은 {{ diary.emotion }} 하셨군요!</p>
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    <p>{{ music.title }}</p>
    <p>{{ music.lyric }}</p>
    <p>{{ rec_diary.title }}</p>
    <p>{{ rec_diary.content }}</p>

</div>
<script>
var emotion_pie = document.getElementById('myChart').getContext('2d');
var emotionPieChart = new Chart(emotion_pie, {
    type: 'pie',
    data:{
        labels: [ '불안', '분노' , '슬픔' , '평온' , '행복' ],
        datasets: [{
            data: {{ diary.emotion_value }},
            backgroundColor: [
                "#f7323f",
                "#673ba7",
                "#ff6384",
                "#cc65fe",
                "#ffce56",
            ],
            borderWidth: 0
        }]
    }
});
</script>

{% endblock content %}
