
{% extends "base/navbar.html" %}

{% load static %}


{% block title %}{{ diary.title }} | SketchDay{% endblock title %}

{% block content %}
<div class="post-detail">
    <div class="header">
      <a href="{% url 'main' %}">&lt; 목록으로</a>
      {% if diary.author == user%}
      <div class="buttons">
        <a class="btn btn-primary btn-sm" href="{% url 'diary-delete' diary.id%}">삭제</a>
        <a class="btn btn-primary btn-sm" href="{% url 'diary-update' diary.id%}">수정</a>
      </div>
      {% endif %}
    </div>
    <article>
      {% comment %} <img class="image" src="{{ diary.image1.url }}"> {% endcomment %}
      <div class="post-meta">
          <div class="item-info">  
            <div  class="title">{{ diary.title }} </div>
            <span class="date">{{ diary.dt_created|date:"Y.m.d" }}</span>
      </div>
      <div class="nickname">작성자 : {{ diary.author.nickname }}</div>
    </div>
    <p class="item-detail">
      {{ diary.content |linebreaksbr }}
    </p>  
    </article>
    <p>{{ diary.emotion }}</p>
</div>



{% endblock content %}
